streamlit
pandas
plotly
python-dotenv
pymupdf
langchain-groq
langchain-core>=0.3.75,<1.0.0
pydantic>=2.7,<3.0
chromadb
sentence-transformers
langchain-community
scikit-learn
yfinance
numpy
protobuf==3.20.3
opentelemetry-exporter-otlp-proto-grpc==1.21.0
